@font-face {
    font-family: 'FS Lola';
    src: url("../fonts/FSLola.eot");
    src: url("../fonts/FSLola.woff") format("woff"),
      url("../fonts/FSLola.ttf") format("truetype"); 
      //url("../fonts/FSLola.otf") format("svg");
    font-weight: 400;
    font-style: normal;
  }